.card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card {
    margin: 20px;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
  
.card-img-top {
    width: 12rem!important;
    height: 12rem!important;
    object-fit: cover;
    margin-top: 20px;
    border: solid white;
}