.collection {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .collection__button {
        border-radius: 3px;
        border-color: #c42b20;
        animation: pulsate 2s linear infinite;
        background-color: #c42b20;
        padding: 5px 10px;
        font-family: Roboto;
        font-size: 22px;
        color: white;
    }
    @keyframes pulsate {
        50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
    }
}