* {box-sizing: border-box;}
form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  .fa-circle-o-notch {
    position: absolute;
    font-family: FontAwesome;
    font-size: 25px;
    color: #7ba7ab;
    left: calc(100% - 75px);
    bottom: 8px;
  }
}
.reset {
  width: 40px;
  height: 42px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #7ba7ab;
  color: #F9F0DA;
  margin-left: 2px;
}
.reset:before {
    content: "\f0c4";
    font-family: FontAwesome;
    font-size: 20px;
}

.keyboard {
  width: 40px;
  height: 42px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #7ba7ab;
  color: #F9F0DA;
  margin-left: 2px;
}
.keyboard:before {
    content: "\f11c";
    font-family: FontAwesome;
    font-size: 20px;
}



.d1 {
    background: white;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
}
.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.d1 .search {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  
}
.d1 .search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
