

.table-container {
    width: 1240px!important;
    overflow: auto;
    @include media-laptop-small {
        width: 920px!important;
    }
    @include media-tablet {
        width: 600px!important;
    }
    @include media-mobile {
        width: 280px!important;
    }
}

thead {
    cursor: pointer;
}